name: Build and push image versions

inputs:
  version:
    description: Version to tag
    required: true
  username-github:
    description: User name
    required: true
  password-github:
    description: Password
    required: true
  repo:
    description: Repo
    required: true
  db_password_secret:
    description: DB password secret
    required: false
    default: 'secrets/db_password_secret.txt'
  brevo_api_key_secret:
    description: Brevo API key
    required: false
    default: 'secrets/brevo_api_key_secret.txt'
  session_secret:
    description: Session secret
    required: false
    default: 'secrets/session_secret.txt'
  opts:
    description: Run time options
    required: false
  ecr-uri:
    description: ECS docker image registry
    default: 'ghcr.io'

runs:
  using: 'composite'
  steps:
    - name: Build and push image to GitHub
      id: build-and-push-github
      uses: ./.github/workflows/composites/docker-build-push
      with:
        username-github: ${{ inputs.username-github }}
        password-github: ${{ inputs.password-github }}
        dockerfile: Dockerfile
        repo: ${{ inputs.repo }}
        db_password_secret: ${{ inputs.db_password_secret }}
        brevo_api_key_secret: ${{ inputs.brevo_api_key_secret }}
        session_secret: ${{ inputs.session_secret }}
        opts: ${{ inputs.opts }}
        tag: ${{ inputs.version }}
