<p>Dear {{ recipient }},</p>

<p>A subscription has been cancelled</p>

<p>
  <strong>Details</strong><br />
  Stripe id: {{ customer.stripeCustomerId }}<br />
  Instance: {{ customer.instance }}<br />
  Email: {{ customer.email }}<br />
  Name: {{ customer.name }}<br />
  Lodge: {{ customer.lodge }}<br />
  LodgeNo: {{ customer.lodgeNo }}<br />
  Unit Type: {{ customer.unitType }}<br />
  Subscribed: {{ customer.subscribed }}<br />
  Event: {{ customer.lastEvent }}<br />
  Cancelled At: {{ customer.cancelledAt }}<br />
  Cancellation Reason: {{ customer.cancellationReason }}<br />
</p>

<p></p>
