name: Delete old container images

on:
  schedule:
    - cron: '0 0 * * *' # Midnight
  workflow_dispatch:

jobs:
  clean-ghcr:
    name: Delete old unused prod container images
    runs-on: ubuntu-latest
    steps:
      - name: Delete old images
        uses: snok/container-retention-policy@v3.0.1
        with:
          account: user
          image-names: 'square-ov'
          cut-off: 1month
          keep-n-most-recent: 1
          image-tags: 'sha-*,square-ov-latest'
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
